@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Arial, Helvetica, sans-serif;
  @apply text-primary-white;
}

body {
  display: flex;
  height: 100dvh;
  justify-content: space-between;
  @apply bg-fone-color;
}

#root {
  display: flex;
  height: 100dvh;
}
